 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 about-text">
                    <p>Developer with over seven years industry experience.<br/>I excel at learning concepts quickly, and adapting to new technologies.<br/>I'm a self-starter, able to recognize potential improvements and follow through on researching and implementing the best solution.<br/>I'm known for developing robust systems very quickly, and using free time to improving existing systems.<br/>Interests are primarily in back-end development and more technical projects. Front-end development is not my speciality.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/cv.htm" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-text"></i> View CV
                    </a>
                </div>
            </div>
        </div>
    </section>