<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center title">
        <h4 class="padded">About</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-1 about-text">
        <img class="img-responsive" src="img/profile.jpg" alt="">
      </div>
      <div class="col-sm-8 col-sm-offset-1 about-text">
        <p>
          Developer with over seven years industry experience.<br/>
          I excel at learning concepts quickly, and adapting to new technologies.<br/>
          I'm a self-starter, able to recognize potential improvements and follow through on researching and implementing the best solution.<br/>
          I'm known for developing robust systems very quickly, and using free time to improving existing systems.<br/>
          Interests are primarily in back-end development and more technical projects.
        </p>
        <div id="download-btn" class="download">
          <a href="/CV - Michael Clyde Hall.pdf" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Download CV
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
