<div class="cosmic-leap-mid col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">

  <section id="gallery">

    <div id="blueimp-image-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
    </div>

  </section>

  <section id="text">

    <img class="img-responsive img-centered logo" src="/Images/CosmicLeap/title.png">

    <div class="text-center">
      <h3>ABOUT</h3>
      <p>Time your jumps from planet to planet, avoid the obstacles thrown in your path and blast off to safety with your rocket ship!</p>
      <p>Play through 90 levels that will test your reaction skills!</p>
      <p>Are you COSMIC enough to clear all the levels?!? Can you collect all the coins? Can you finish the levels while the counter is still warming up? Can you beat the harder COSMIC levels? Then, and only then, can you call yourself, truly, COSMIC!</p>
      <br/>
      <h3>FEATURES</h3>
      <p>- 90 levels to master! Get the best times and collect all the coins!</p>
      <p>- Over 35 colorful charactets to unlock!</p>
      <p>- Colorful voxel graphics and old-school arcade sounds</p>
      <p>- Optional old-school TV game effect</p>
    </div>

  </section>

  <section id="downloads">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <iframe src="//itch.io/embed/40200" width="552" height="167" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </section>

  <section id="promogallery">

    <div id="blueimp-promo-carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="play-pause"></a>
    </div>

  </section>

  <hr>

  <section id="footer">

    <img class="img-responsive img-centered logo" src="/Images/CosmicLeap/512x512_icon.png">

    <div class="text-center">
      <a href="mailto:{{ site.email }}" class="about-link">
        <i class="fa fa-envelope"></i><span>{{ site.email }}</span>
      </a>
    </div>

  </section>

</div>

<script src="{{ "/js/blueimp-gallery.min.js" }}"></script>
<script>
blueimp.Gallery(
  [
    { title: 'Cosmic Leap Trailer', youtube: 'FORoSzp2Jpo' },
    { title: 'Character Select Screen', href: '/Images/CosmicLeap/cosmicleap01.png' },
    { title: 'Post game screen', href: '/Images/CosmicLeap/cosmicleap02.png' },
    { title: 'In-game', href: '/Images/CosmicLeap/cosmicleap03.png' },
    { title: 'In-game', href: '/Images/CosmicLeap/cosmicleap04.png' },
    { title: 'In-game', href: '/Images/CosmicLeap/cosmicleap05.png' },
    { title: 'Finished level', href: '/Images/CosmicLeap/cosmicleap06.png' },
    { title: 'In-game with retro filter', href: '/Images/CosmicLeap/cosmicleap07.png' },
    { title: 'In-game', href: '/Images/CosmicLeap/cosmicleap08.png' },
    { title: 'In-game', href: '/Images/CosmicLeap/CosmicLeap09.png' },
    { title: 'Character Select Screen', href: '/Images/CosmicLeap/CosmicLeap10.png' }
  ],
    {
        container: '#blueimp-image-carousel',
        carousel: true
    }
);

blueimp.Gallery(
  [
    { title: 'Promotional', href: '/Images/CosmicLeap/promo1.png' },
    { title: 'Promotional', href: '/Images/CosmicLeap/promo2.png' },
    { title: 'Promotional', href: '/Images/CosmicLeap/promo3.png' },
    { title: 'Promotional', href: '/Images/CosmicLeap/promo4.png' },
    { title: 'Promotional', href: '/Images/CosmicLeap/promo5.png' }
  ],
    {
        container: '#blueimp-promo-carousel',
        carousel: true
    }
);
</script>
