<section id="downloads">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://play.google.com/store/apps/details?id=com.mikehall.cosmicleap">
          <img alt="Get it on Google Play"
               src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <iframe src="//itch.io/embed/40200" width="552" height="167" frameborder="0"></iframe>
      </div>
    </div>
  </div>

</section>

<section id="text">

  <div>
    <p>Time your jumps from planet to planet, avoid the obstacles thrown in your path and blast off to safety with your rocket ship!</p>
    <p>Play through 90 levels that will test your reaction skills!</p>
    <p>Be boss enough to unlock the NIGHTMARE levels and you'll experience a ramped up difficulty with enemies that behave unusually!</p>
    <p>Unlock and play with over 35 colorful characters!</p>
    <p>FEATURES</p>
    <p>- 90 levels to master! Get the best times and collect all the coins!</p>
    <p>- 35 colorful charactets to unlock!</p>
    <p>- 5 challenge levels to further test your skills</p>
    <p>- Colorful voxel graphics and old-school arcade sounds</p>
    <p>- Optional old-school TV game effect</p>
  </div>

</section>

<section id="badges">
  <a href="http://www.slidedb.com/games/cosmic-leap" title="View Cosmic Leap on Slide DB" target="_blank"><img src="http://button.slidedb.com/popularity/medium/games/45600.png" alt="Cosmic Leap" /></a>
  <a href="http://www.indiedb.com/games/cosmic-leap" title="View Cosmic Leap on Indie DB" target="_blank"><img src="http://button.indiedb.com/popularity/medium/games/45600.png" alt="Cosmic Leap" /></a>
</section>
