<div class="col-lg-8 col-lg-offset-2">

  <section id="downloads">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <iframe src="//itch.io/embed/40200" width="552" height="167" frameborder="0"></iframe>
        </div>
      </div>
    </div>

  </section>

  <section id="text">

    <div class="text-center">
      <h4>ABOUT</h4>
      <p>Time your jumps from planet to planet, avoid the obstacles thrown in your path and blast off to safety with your rocket ship!</p>
      <p>Play through 90 levels that will test your reaction skills!</p>
      <p>Be boss enough to unlock the NIGHTMARE levels and you'll experience a ramped up difficulty with enemies that behave unusually!</p>
      <p>Unlock and play with over 35 colorful characters!</p>
      <br/>
      <h4>FEATURES</h4>
      <p>· 90 levels to master! Get the best times and collect all the coins!</p>
      <p>· 35 colorful charactets to unlock!</p>
      <p>· Colorful voxel graphics and old-school arcade sounds</p>
      <p>· Optional old-school TV game effect</p>
    </div>

  </section>

</div>
