<header>
  <div id="profile">
    <section id="banner">
      <header>
        <h2>{{ site.title }}</h2>
        <p class="job">{{ site.skills }}</p>
        <p>{{ site.location }}</p>
		<section id="links">
		  <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-lg"></i></a>
          <a href="https://github.com/mchall"><i class="fa fa-github fa-lg"></i></a>
		  <a href="https://www.linkedin.com/in/michael-hall-95a459169/"><i class="fa fa-linkedin fa-lg"></i></a>
		  <a href="/CV - Michael Clyde Hall.pdf"><i class="fa fa-download fa-lg"></i></a>
        </section>
      </header>
    </section>
  </div>
</header>
