<header>
  <div id="profile">
    <section id="banner">
      <header>
        <h2>{{ site.title }}</h2>
        <p>{{ site.skills }}</p>
        <p>{{ site.location }}</p>
      </header>
    </section>

    <section id="intro" class="container">
      <footer>
        <ul class="actions">
          <li><a id="download-btn" href="/CV - Michael Clyde Hall.pdf" class="button big"><i class="fa fa-download"></i> Download CV</a></li>
          <li><a href="https://github.com/mchall" class="button alt big"><i class="fa fa-github"></i> GitHub</a></li>
        </ul>
        <ul class="actions">
          <li><a href="mailto:{{ site.email }}" class="button alt big"><i class="fa fa-envelope"></i> Contact</a></li>
        </ul>
      </footer>
    </section>
  </div>
</header>
