<header>
  <div id="profile">
    <section id="banner">
      <header>
        <h2>{{ site.title }}</h2>
        <p>{{ site.skills }}</p>
        <p>{{ site.location }}</p>
		<section id="links">
		  <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-lg"></i></a>
          <a href="https://github.com/mchall"><i class="fa fa-github fa-lg"></i></a>
		  <a href="https://www.linkedin.com/in/michael-hall-95a459169/"><i class="fa fa-linkedin fa-lg"></i></a>
        </section>
      </header>
    </section>

    <section id="intro" class="container">
      <footer>
        <ul class="actions">
		  <li><a id="download-btn" href="/CV - Michael Clyde Hall.pdf" class="button"><i class="fa fa-download"></i> Download CV</a></li>
        </ul>
      </footer>
    </section>
  </div>
</header>
