<div class="portfolio-modal modal fade" id="portfolioModal-{{ include.post.category }}-{{ include.idx }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            </header>
            <a href="{{ post.site }}" target="_blank"><img src="/img/portfolio/{{ include.post.img }}" class="img-responsive img-centered" alt="{{ include.post.alt }}"></a>
            <p>{{ include.post.description }}</p>

            <ul class="list-inline item-details tag-list">
              {% for tag in post.tags %}
                <li>{{ tag | upcase }}</li>
                {% if forloop.last != true %}
                  <li><i class="fa fa-circle fa-1"></i></li>
                {% endif %}
              {% endfor %}
            </ul>

            <ul class="list-inline item-details">
              <li>Date:
                <strong>{{ include.post.project-date }}
                </strong>
              </li>
            </ul>
            <ul class="actions">
              <li><a href="{{ post.site }}" class="button" target="_blank"><i class="fa fa-globe"></i> Visit Website</a></li>
              <li><button type="button" class="button alt" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
