
<!-- Portfolio Grid Section -->
<section id="portfolio">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center title">
        <header class="major">
          <h2>Work History</h2>
				</header>
      </div>
    </div>
    <div class="row">
      {% for post in site.categories.work %}
        <div class="col-sm-4 portfolio-item">
          {% include portfolio_item.html post=post idx=forloop.index %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center title">
        <header class="major">
          <h2>Sideline Projects</h2>
				</header>
      </div>
    </div>
    <div class="row">
      {% for post in site.categories.sideline %}
        <div class="col-sm-4 portfolio-item">
          {% include portfolio_item.html post=post idx=forloop.index %}
        </div>
      {% endfor %}
    </div>
  </div>

</section>
