
<!-- Portfolio Grid Section -->
<section id="portfolio">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center title">
        <h4 class="padded">Work Projects</h4>
      </div>
    </div>
    <div class="row">
      {% for post in site.categories.work %}
      <div class="col-sm-3 portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption" ></div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
          <div class="portfolio-desc">
            <h6>{{ post.alt }}</h6>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center title">
        <h4 class="padded">Open Source Projects</h4>
      </div>
    </div>
    <div class="row">
      {% for post in site.categories.sideline %}
      <div class="col-sm-3 portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption" ></div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
          <div class="portfolio-desc">
            <h6>{{ post.alt }}</h6>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
