<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Cosmic Leap</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
	<link href="/cosmicleap.css" rel="stylesheet" type="text/css">

	  <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-65564974-1', 'auto');
		ga('send', 'pageview');
	  </script>

</head>
<body>
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-medium-1-4" id="navigation">
				<h1 class="nav-header">Cosmic Leap</h1><a class="nav-header" href="http://mikehall.co.za/cosmicleap">press kit</a>
				<ul class="uk-nav uk-nav-side">
					<li>
						<a href="#factsheet">Factsheet</a>
					</li>
					<li>
						<a href="#description">Description</a>
					</li>
					<li>
						<a href="#features">Features</a>
					</li>
					<li>
						<a href="#trailers">Videos</a>
					</li>
					<li>
						<a href="#images">Images</a>
					</li>
					<li>
						<a href="#gifimages">GIFs</a>
					</li>
					<li>
						<a href="#promoimages">Promotional Images</a>
					</li>
					<li>
						<a href="#logo">Logo</a>
					</li>
					<li>
						<a href="#preview">Request Press Copy</a>
					</li>
					<li>
						<a href="#credits">Team</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<div class="uk-width-medium-3-4" id="content">
				<div class="uk-grid">
					<div class="uk-width-medium-2-6">
						<h2 id="factsheet">Factsheet</h2>
						<p><strong>Developer:</strong><br>
						<a href="http://mikehall.co.za">Michael Hall</a><br>
						Based in Cape Town, South Africa</p>
						<p><strong>Release date:</strong><br>
						17 March, 2016</p>
						<p><strong>Platforms:</strong><br>
						<a href="http://store.steampowered.com/app/420850">Steam</a><br></p>
						<p><strong>Website:</strong><br>
						<a href="http://mikehall.co.za/cosmicleap">mikehall.co.za/cosmicleap</a></p>
						<p><strong>Regular Price:</strong><br></p>
						<table>
							<tr>
								<td>USD</td>
								<td>$1.99</td>
							</tr>
						</table>
						<p></p>
					</div>
					<div class="uk-width-medium-4-6">
						<h2 id="description">Description</h2>
						<p>Time your jumps from planet to planet, avoid the obstacles thrown in your path and blast off to safety with your rocket ship!</p>
						<p>Play through 100 levels that will test your reaction skills!</p>
						<p>Are you COSMIC enough to clear all the levels?!? Can you collect all the coins? Can you finish the levels while the counter is still warming up? Can you beat the harder COSMIC levels? Then, and only then, can you call yourself, truly, COSMIC!</p>
						<h2 id="features">Features</h2>
						<ul>
							<li>100 levels to master! Get the best times and collect all the coins!</li>
							<li>40 colorful characters to unlock!</li>
							<li>9 rocketships to unlock! Blast off in style!</li>
							<li>Colorful voxel graphics and retro arcade sounds</li>
							<li>Optional retro TV game effect</li>
							<li>Full controller support</li>
						</ul>
					</div>
				</div>
				<hr>
				<h2 id="trailers">Videos</h2>
				<p><strong>Trailer</strong>&nbsp; <a href="https://www.youtube.com/watch?v=rPJR-aQFtI8">YouTube</a></p>
				<div class="uk-responsive-width iframe-container">
					<iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/rPJR-aQFtI8"></iframe>
				</div>
				<p></p>
				<hr>
				<h2 id="images">Images</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl01.jpg"><img alt="cl01.jpg" src="/Images/CosmicLeap//cl01.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl02.jpg"><img alt="cl02.jpg" src="/Images/CosmicLeap//cl02.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl03.jpg"><img alt="cl03.jpg" src="/Images/CosmicLeap//cl03.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl04.jpg"><img alt="cl04.jpg" src="/Images/CosmicLeap//cl04.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl05.jpg"><img alt="cl05.jpg" src="/Images/CosmicLeap//cl05.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl06.jpg"><img alt="cl06.jpg" src="/Images/CosmicLeap//cl06.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl07.jpg"><img alt="cl07.jpg" src="/Images/CosmicLeap//cl07.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl08.jpg"><img alt="cl08.jpg" src="/Images/CosmicLeap//cl08.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl09.jpg"><img alt="cl09.jpg" src="/Images/CosmicLeap//cl09.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl10.jpg"><img alt="cl10.jpg" src="/Images/CosmicLeap//cl10.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl11.jpg"><img alt="cl11.jpg" src="/Images/CosmicLeap//cl11.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl12.jpg"><img alt="cl12.jpg" src="/Images/CosmicLeap//cl12.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl13.jpg"><img alt="cl13.jpg" src="/Images/CosmicLeap//cl13.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl14.jpg"><img alt="cl14.jpg" src="/Images/CosmicLeap//cl14.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl15.jpg"><img alt="cl15.jpg" src="/Images/CosmicLeap//cl15.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl16.jpg"><img alt="cl16.jpg" src="/Images/CosmicLeap//cl16.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl17.jpg"><img alt="cl17.jpg" src="/Images/CosmicLeap//cl17.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cl18.jpg"><img alt="cl18.jpg" src="/Images/CosmicLeap//cl18.jpg"></a>
					</div>
				</div>
				<h2 id="gifimages">GIFs</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cosmicleap1.gif"><img alt="cosmicleap1.gif" src="/Images/CosmicLeap/cosmicleap1.gif"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cosmicleap2.gif"><img alt="cosmicleap1.gif" src="/Images/CosmicLeap/cosmicleap2.gif"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/cosmicleap3.gif"><img alt="cosmicleap1.gif" src="/Images/CosmicLeap/cosmicleap3.gif"></a>
					</div>
				</div>
				<h2 id="promoimages">Promotional Images</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/promo1.png"><img alt="promo1.png" src="/Images/CosmicLeap/promo1.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/promo2.png"><img alt="promo2.png" src="/Images/CosmicLeap/promo2.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/promo3.png"><img alt="promo3.png" src="/Images/CosmicLeap/promo3.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/promo4.png"><img alt="promo4.png" src="/Images/CosmicLeap/promo4.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/promo5.png"><img alt="promo5.png" src="/Images/CosmicLeap/promo5.png"></a>
					</div>
				</div><br>
				<p class="images-text">There are far more images available for Cosmic Leap, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href="#contact">contact us</a>!</p>
				<hr>
				<h2 id="logo">Logo</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/CosmicLeap/title.png"><img alt="logo" src="/Images/CosmicLeap/title.png"></a>
					</div>
				</div>
				<hr>
				<h2 id="preview">Request Press Copy</h2>
				<p>Please send us an e-mail at <a href="mailto:raghav@blackshellmedia.com">raghav@blackshellmedia.com</a> and we'll get back to you as soon as a press copy is available for you.</p>
				<hr>
				<h2 id="monetize">Monetization Permission</h2>
				<p>Michael Hall allows for the contents of Cosmic Leap to be published through video broadcasting services for any commercial or non-commercial purposes. Monetization of videos created containing assets from Cosmic Leap is legally &amp; explicitly allowed by Michael Hall.</p>
        <p>The only caveat is that the game music be turned off, in respect of the usage licenses of <a href="http://www.jewelbeat.com/"><strong>JewelBeat</strong></a> and <a href="http://machinimasound.com/"><strong>Machinimasound</strong></a>.</p>
				<hr>
				<div class="uk-grid">
					<div class="uk-width-medium-1-2">
						<h2 id="credits">Cosmic Leap Credits</h2>
						<p><a href="http://mikehall.co.za"><strong>Michael Hall</strong></a><br>
						Developer</p>
						<p><a href="http://blackshellmedia.com"><strong>Black Shell Media</strong></a><br>
						Publisher</p>
					</div>
					<div class="uk-width-medium-1-2">
						<h2 id="contact">Contact</h2>
						<p><strong>Inquiries</strong><br>
						<a href="mailto:raghav@blackshellmedia.com">Raghav Mathur</a></p>
						<a href="mailto:mike.clyde.hall@gmail.com">Mike Hall</a></p>
						<p><strong>Web</strong><br>
						<a href="http://blackshellmedia.com">Black Shell Media</a></p>
						<a href="http://mikehall.co.za">Mike Hall</a></p>
					</div>
				</div>
				<hr>
				<p><a href="http://dopresskit.com/">presskit()</a> by Rami Ismail (<a href="http://www.vlambeer.com/">Vlambeer</a>)</p>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js" type="text/javascript">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	           $( document ).ready(function() {
	               var container = $('.images');

	               container.imagesLoaded( function() {
	                   container.masonry({
	                       itemSelector: '.uk-width-medium-1-2',
	                   });
	               });
	           });
	</script>
</body>
</html>
