<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>DumbBots</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
	<link href="/dumbbots.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-medium-1-4" id="navigation">
				<h1 class="nav-header">DumbBots</h1><a class="nav-header" href="https://mikehall.co.za/dumbbots">press kit</a>
				<ul class="uk-nav uk-nav-side">
					<li>
						<a href="#factsheet">Factsheet</a>
					</li>
					<li>
						<a href="#description">Description</a>
					</li>
					<li>
						<a href="#features">Features</a>
					</li>
					<li>
						<a href="#trailers">Videos</a>
					</li>
					<li>
						<a href="#images">Images</a>
					</li>
					<li>
						<a href="#gifimages">GIFs</a>
					</li>
					<li>
						<a href="#promoimages">Promotional Images</a>
					</li>
					<li>
						<a href="#logo">Logo</a>
					</li>
					<li>
						<a href="#preview">Request Press Copy</a>
					</li>
					<li>
						<a href="#credits">Team</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</div>
			<div class="uk-width-medium-3-4" id="content">
				<img src="/Images/DumbBots2020/header.jpg" class="header">
				<div class="uk-grid">
					<div class="uk-width-medium-2-6">
						<h2 id="factsheet">Factsheet</h2>
						<p><strong>Developer:</strong><br>
						<a href="https://mikehall.co.za">Mike Hall</a><br>
						Based in Cape Town, South Africa</p>
						<p><strong>Release date:</strong><br>
						2021</p>
						<p><strong>Platforms:</strong><br>
						<a href="https://store.steampowered.com/app/1232890/DumbBots/">Steam</a><br></p>
						<p><strong>Website:</strong><br>
						<a href="https://mikehall.co.za/dumbbots">mikehall.co.za/dumbbots</a></p>
						<p></p>
					</div>
					<div class="uk-width-medium-4-6">
						<h2 id="description">Description</h2>
						<p>Code a DumbBot to follow your instructions. Battle other DumbBots, or just mess around in the sandbox. </p>
						<p>Compete in DeathMatch, Heist, Battle Royale or solo scenarios. </p>
						<p>Learn the basics of programming, and improve your AI in the sandbox. The biggest brain wins this game. </p>
						<h2 id="features">Features</h2>
						<ul>
							<li>Easy to learn drag-and-drop scripting</li>
							<li>Play solo missions, then play against other DumbBots and see who comes out victorious</li>
							<li>Modes available: Battle Royale, Deathmatch, Heist and Survival</li>
							<li>Customize your DumbBot squad</li>
							<li>Vibrant, colorful maps</li>
							<li>Create your own scenarios in Creative Mode</li>
						</ul>
					</div>
				</div>
				<hr>
				<h2 id="trailers">Videos</h2>
				<p><strong>Trailer</strong>&nbsp; <a href="https://www.youtube.com/watch?v=1hDDQSZNBEE">YouTube</a></p>
				<div class="uk-responsive-width iframe-container">
					<iframe src="hhttps://www.youtube.com/watch?v=1hDDQSZNBEE" frameborder="0" allowfullscreen=""></iframe>
				</div>
				<p></p>
				<hr>
				<h2 id="images">Images</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db01.jpg"><img alt="db01.jpg" src="/Images/DumbBots2020/db01.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db02.jpg"><img alt="db02.jpg" src="/Images/DumbBots2020/db02.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db03.jpg"><img alt="db03.jpg" src="/Images/DumbBots2020/db03.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db04.jpg"><img alt="db04.jpg" src="/Images/DumbBots2020/db04.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db05.jpg"><img alt="db05.jpg" src="/Images/DumbBots2020/db05.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db06.jpg"><img alt="db06.jpg" src="/Images/DumbBots2020/db06.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db07.jpg"><img alt="db07.jpg" src="/Images/DumbBots2020/db07.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db08.jpg"><img alt="db08.jpg" src="/Images/DumbBots2020/db08.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db09.jpg"><img alt="db09.jpg" src="/Images/DumbBots2020/db09.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db10.jpg"><img alt="db10.jpg" src="/Images/DumbBots2020/db10.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db11.jpg"><img alt="db11.jpg" src="/Images/DumbBots2020/db11.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db12.jpg"><img alt="db12.jpg" src="/Images/DumbBots2020/db12.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db13.jpg"><img alt="db13.jpg" src="/Images/DumbBots2020/db13.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db14.jpg"><img alt="db14.jpg" src="/Images/DumbBots2020/db14.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db15.jpg"><img alt="db15.jpg" src="/Images/DumbBots2020/db15.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db16.jpg"><img alt="db16.jpg" src="/Images/DumbBots2020/db16.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db17.jpg"><img alt="db17.jpg" src="/Images/DumbBots2020/db17.jpg"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/db18.jpg"><img alt="db18.jpg" src="/Images/DumbBots2020/db18.jpg"></a>
					</div>
				</div>
				<h2 id="gifimages">GIFs</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/Gif_code.gif"><img alt="Gif_code.gif" src="/Images/DumbBots2020/Gif_code.gif"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/Gif_combat.gif"><img alt="Gif_combat.gif" src="/Images/DumbBots2020/Gif_combat.gif"></a>
					</div>
				</div>
				<h2 id="promoimages">Promotional Images</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/promo6.png"><img alt="promo6.png" src="/Images/DumbBots2020/promo6.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/promo5.png"><img alt="promo5.png" src="/Images/DumbBots2020/promo5.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/promo4.png"><img alt="promo4.png" src="/Images/DumbBots2020/promo4.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/promo3.png"><img alt="promo3.png" src="/Images/DumbBots2020/promo3.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/promo2.png"><img alt="promo2.png" src="/Images/DumbBots2020/promo2.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/promo1.png"><img alt="promo1.png" src="/Images/DumbBots2020/promo1.png"></a>
					</div>
				</div><br>
				<p class="images-text">There are far more images available for DumbBots, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href="#contact">contact me</a>!</p>
				<hr>
				<h2 id="logo">Logo</h2>
				<div class="uk-grid images">
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/logo.png"><img alt="logo" src="/Images/DumbBots2020/logo.png"></a>
					</div>
					<div class="uk-width-medium-1-2">
						<a href="/Images/DumbBots2020/logo2.png"><img alt="logo2" src="/Images/DumbBots2020/logo2.png"></a>
					</div>
				</div>
				<hr>
				<h2 id="preview">Request Press Copy</h2>
				<p>Please send me an e-mail at <a href="mailto:mike.clyde.hall@gmail.com">mike.clyde.hall@gmail.com</a> and I'll get back to you as soon as a press copy is available for you.</p>
				<hr>
				<h2 id="monetize">Monetization Permission</h2>
				<p>Mike Hall allows for the contents of DumbBots to be published through video broadcasting services for any commercial or non-commercial purposes. Monetization of videos created containing assets from DumbBots is legally &amp; explicitly allowed by Mike Hall.</p>
				<hr>
				<div class="uk-grid">
					<div class="uk-width-medium-1-2">
						<h2 id="credits">DumbBots Credits</h2>
						<p><a href="https://mikehall.co.za"><strong>Mike Hall</strong></a><br>
						Developer</p>
					</div>
					<div class="uk-width-medium-1-2">
						<h2 id="contact">Contact</h2>
						<p><strong>Inquiries</strong><br>
						<a href="mailto:mike.clyde.hall@gmail.com">Mike Hall</a></p>
						<p><strong>Web</strong><br>
						<a href="https://mikehall.co.za">Mike Hall</a></p>
					</div>
				</div>
				<hr>
				<p><a href="https://dopresskit.com/">presskit()</a> by Rami Ismail (<a href="https://www.vlambeer.com/">Vlambeer</a>)</p>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js" type="text/javascript">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	           $( document ).ready(function() {
	               var container = $('.images');

	               container.imagesLoaded( function() {
	                   container.masonry({
	                       itemSelector: '.uk-width-medium-1-2',
	                   });
	               });
	           });
	</script>
</body>
</html>