<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" class="index">

    <section id="banner">
      <header>
        <h1 style="font-size: xx-large; color: white;">TubeStar HD Sneak Peak</h1>
      </header>
    </section>

    <section id="preview">
      <div>
        <a href="/Images/TubeStarHD/tubestar_hd_1.png" target="_blank">
            <img src="/Images/TubeStarHD/tubestar_hd_1.png" style="max-height: 500px" class="img-responsive img-centered" alt="TubeStar preview">
        </a>
      </div>
    </section>

    <section id="cosmicleap">
      <h4 class="text-center">TubeStar HD and this webstite are works in progress.</h4>
      <h4 class="text-center">In the meantime, if you want to support the developer, Cosmic Leap is available on Steam.</h4>
    </section>

    <section id="cosmicleap">
      <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <iframe src="http://store.steampowered.com/widget/420850/" frameborder="0" width="560" height="204"></iframe>
              </div>
            </div>
          </div>
    </section>
    
    <section id="intro" class="container">
      <footer>
        <ul class="actions">
          <li><a id="download-btn" href="/index.html" class="button big"><i class="fa fa-globe"></i> Back to Home Page</a></li>
        </ul>
      </footer>
    </section>

    {% include js.html %}
  </body>
</html>
